<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>BackgroundType</string>
			<key>id</key>
			<string>BackgroundType</string>
			<key>label</key>
			<string>BACKGROUND_TYPE</string>
			<key>detail</key>
			<string>CHMCPPSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>FLAT_COLOUR</string>
				<string>GRADIENT</string>
				<string>WALLPAPER</string>
				<string>IMAGE</string>
				<string>CONTACT_PIC</string>
			</array>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setBackgroundType:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>FLAT_COLOUR</string>
			<key>id</key>
			<string>SingleColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>key</key>
			<string>BackgroundColour</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>TOP_COLOUR</string>
			<key>id</key>
			<string>TopColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>key</key>
			<string>BackgroundTopColour</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>BOTTOM_COLOUR</string>
			<key>id</key>
			<string>BottomColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>key</key>
			<string>BackgroundBottomColour</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>action</key>
			<string>chooseBackgroundImage</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>CHMCButtonCell</string>
			<key>label</key>
			<string>CHOOSE_IMAGE</string>
			<key>id</key>
			<string>BackgroundImageButton</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextViewCell</string>
			<key>cellClass</key>
			<string>CHMCBackgroundImageViewCell</string>
			<key>id</key>
			<string>BackgroundImageCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BLUR_RADIUS</string>
			<key>id</key>
			<string>BGBlurRadiusGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CHMCBetterSliderCell</string>
			<key>label</key>
			<string>BLUR_RADIUS</string>
			<key>default</key>
			<integer>0</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>65</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BGBlurRadius</string>
			<key>id</key>
			<string>BGBlurRadius</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setBlurRadius:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>OverlayColourGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>OVERLAY_COLOUR</string>
			<key>id</key>
			<string>OverlayColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>key</key>
			<string>BackgroundOverlayColour</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>alpha</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>BACKGROUND</string>
</dict>
</plist>
