<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BUBBLE_WIDTH</string>
			<key>footerText</key>
			<string>DEFAULT_BUBBLE_WIDTH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CHMCBetterSliderCell</string>
			<key>label</key>
			<string>BUBBLE_WIDTH</string>
			<key>default</key>
			<real>70</real>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BubbleWidthPercent</string>
			<key>id</key>
			<string>BubbleWidthPercent</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>key</key>
			<string>BubbleTails</string>
			<key>id</key>
			<string>BubbleTails</string>
			<key>label</key>
			<string>BUBBLE_TAILS</string>
			<key>detail</key>
			<string>CHMCPPSListItemsController</string>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>SHOW_ALL</string>
				<string>HIDE_ALL</string>
			</array>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>BubbleOutlineOnly</string>
			<key>label</key>
			<string>BUBBLE_OUTLINE_ONLY</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>FlatEdges</string>
			<key>id</key>
			<string>FlatEdges</string>
			<key>label</key>
			<string>FLAT_BUBBLE_EDGES</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>CHAT_VIEW</string>
</dict>
</plist>
