<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>cpicgroup</string>
			<key>footerText</key>
			<string>No contact pictures will be shown if Flat Bubbles Edges is applied by the current theme.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>SingleContactPics</string>
			<key>id</key>
			<string>SingleContactPics</string>
			<key>label</key>
			<string>SINGLE_CONTACT_PICS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>negate</key>
			<true/>
			<key>key</key>
			<string>GroupContactPics</string>
			<key>id</key>
			<string>GroupContactPics</string>
			<key>label</key>
			<string>GROUP_CONTACT_PICS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>key</key>
			<string>MyContactPics</string>
			<key>id</key>
			<string>MyContactPics</string>
			<key>label</key>
			<string>MY_CONTACT_PICS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTACT_PIC_DIAMETER</string>
			<key>id</key>
			<string>cpicradgroup</string>
			<key>footerText</key>
			<string>CV_DEFAULT_DI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CHMCBetterSliderCell</string>
			<key>label</key>
			<string>CONTACT_PIC_DIAMETER</string>
			<key>default</key>
			<integer>27</integer>
			<key>min</key>
			<integer>10</integer>
			<key>max</key>
			<integer>40</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>CPicRadius</string>
			<key>id</key>
			<string>CPicRadius</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
		</dict>
	</array>
	<key>title</key>
	<string>CHAT_VIEW</string>
</dict>
</plist>
