<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>ListContactPics</string>
			<key>id</key>
			<string>ListContactPics</string>
			<key>label</key>
			<string>SHOW_CONTACT_PICS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setContactPicsEnabled:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTACT_PIC_DIAMETER</string>
			<key>id</key>
			<string>cpicradgroup</string>
			<key>footerText</key>
			<string>CL_DEFAULT_DI</string>
		</dict>
		<dict>
    	<key>cell</key>
      <string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CHMCBetterSliderCell</string>
			<key>label</key>
			<string>CONTACT_PIC_DIAMETER</string>
      <key>default</key>
      <integer>45</integer>
      <key>defaults</key>
      <string>me.chewitt.mcproprefs.perma</string>
			<key>min</key>
			<integer>20</integer>
			<key>max</key>
			<integer>80</integer>
			<key>showValue</key>
			<true/>
      <key>key</key>
			<string>CPicRadiusList</string>
			<key>id</key>
			<string>CPicRadiusList</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setContactPicDiameter:specifier:</string>
    </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>HideDates</string>
			<key>label</key>
			<string>HIDE_DATES</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>HidePreviews</string>
			<key>label</key>
			<string>HIDE_PREVIEWS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>HideSearchBar</string>
			<key>label</key>
			<string>HIDE_SEARCH</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>HideSeparators</string>
			<key>label</key>
			<string>HIDE_SEPARATORS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>CONVO_LIST</string>
</dict>
</plist>
