<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>APP_TINT</string>
			<key>id</key>
			<string>AppTint</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>default</key>
			<string>#007AFF</string>
			<key>key</key>
			<string>AppTint</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CONVO_LIST_SETTINGS</string>
			<key>detail</key>
			<string>CHMCConvoListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CHAT_VIEW_SETTINGS</string>
			<key>detail</key>
			<string>CHMCChatViewPermaController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PLACEHOLDER_INFO_TEXT</string>
			<key>id</key>
			<string>PlaceholderGroup</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>NameInPlaceholder</string>
			<key>id</key>
			<string>NameInPlaceholder</string>
			<key>label</key>
			<string>NAME_AS_PLACEHOLDER</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>QuickSwitcherGroup</string>
			<key>footerText</key>
			<string>SWITCHER_INFO_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>QuickSwitch</string>
			<key>id</key>
			<string>QuickSwitcher</string>
			<key>label</key>
			<string>QUICK_SWITCHER</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>INDICATOR_INFO_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>UnrepliedIndicator</string>
			<key>label</key>
			<string>UNREPLIED_INDICATORS</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>HOLD_TO_SWITCH_INFO_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>HoldToSwitch</string>
			<key>label</key>
			<string>HOLD_TO_SWITCH</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>BigBubblesGroup</string>
			<key>footerText</key>
			<string>BIG_BUBBLES_INFO_TEXT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>BigBubbles</string>
			<key>id</key>
			<string>BigBubbles</string>
			<key>label</key>
			<string>BIG_BUBBLES</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setBigBubblesEnabled:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>CHMCBetterSliderCell</string>
			<key>label</key>
			<string>BIG_BUBBLE_WIDTH</string>
			<key>default</key>
			<integer>270</integer>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>min</key>
			<integer>50</integer>
			<key>max</key>
			<integer>270</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>BigBubbleWidth</string>
			<key>id</key>
			<string>BigBubbleWidth</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setBigBubbleWidth:specifier:</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DARK_MODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>DarkModeScheduled</string>
			<key>id</key>
			<string>DarkModeScheduled</string>
			<key>label</key>
			<string>SCHEDULED</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>set</key>
			<string>setDarkModeScheduled:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>DarkModeSegmentedCell</string>
			<key>key</key>
			<string>DarkMode</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>default</key>
			<string>0</string>
			<key>validValues</key>
			<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
			</array>
			<key>validTitles</key>
			<array>
					<string>LIGHT</string>
					<string>DARK</string>
					<string>CUSTOM</string>
			</array>
			<key>set</key>
			<string>setDarkModeType:specifier:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>CHMCTimeRangeControlCell</string>
			<key>id</key>
			<string>DarkModeTimeCell</string>
			<key>height</key>
			<integer>64</integer>
			<key>detail</key>
			<string>CHMCTimeRangeEntryController</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>key</key>
			<string>DarkModeTheme</string>
			<key>id</key>
			<string>DarkModeTheme</string>
			<key>label</key>
			<string>DARK_MODE_THEME</string>
			<key>detail</key>
			<string>CHMCPPSListItemsController</string>
			<key>validValues</key>
			<array>
			</array>
			<key>validTitles</key>
			<array>
			</array>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>BACKGROUND_COLOUR</string>
			<key>id</key>
			<string>DMCustomBGColour</string>
			<key>key</key>
			<string>CustomDMBackgroundColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>PRIMARY_COLOUR</string>
			<key>id</key>
			<string>DMCustomPColour</string>
			<key>key</key>
			<string>CustomDMBrightColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>cellClass</key>
			<string>CHMCLinkToColourPickerCell</string>
			<key>label</key>
			<string>SECONDARY_COLOUR</string>
			<key>id</key>
			<string>DMCustomSColour</string>
			<key>key</key>
			<string>CustomDMForegroundColour</string>
			<key>detail</key>
			<string>CHMCColourPickerController</string>
			<key>defaults</key>
			<string>me.chewitt.mcproprefs.perma</string>
			<key>PostNotification</key>
			<string>me.chewitt.mcproprefs.settingsChanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>OTHER_OPTIONS</string>
</dict>
</plist>
